# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Config sensible
# src/main/resources/application.properties
# src/main/resources/app.properties
*.jar
tomcat.8080/work/Tomcat/localhost/ROOT/org/apache/jsp/templates/reservations/list_jsp.java
tomcat.8080/work/Tomcat/localhost/ROOT/org/apache/jsp/templates/index_jsp.java
tomcat.8080/work/Tomcat/localhost/ROOT/org/apache/jsp/templates/index_jsp.java
tomcat.8080/work/Tomcat/localhost/ROOT/org/apache/jsp/templates/index_jsp.java
tomcat.8080/work/Tomcat/localhost/ROOT/org/apache/jsp/templates/planification/index_jsp.java
tomcat.8080/work/Tomcat/localhost/ROOT/org/apache/jsp/templates/planification/vehicules_005fnon_005fassignes_jsp.java
tomcat.8080/work/Tomcat/localhost/ROOT/org/apache/jsp/templates/reservations/list_jsp.java
tomcat.8080/work/Tomcat/localhost/ROOT/org/apache/jsp/templates/vehicules/list_jsp.java
